html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.punchcard {
  display: flex;
  flex-flow: row;
  gap: 3px;
  padding: 10px;
  border-color: rgb(208, 215, 222);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  width: max-content;
}
.week {
  display: flex;
  flex-flow: column;
  gap: 3px;
}

.weekday-title {
  max-height: 10px;
  text-transform: uppercase;
  padding-right: 5px;
}

.punchcard-day, .punchcard-day-full {
  width: 10px;
  height: 10px;
  background-color: #ebedf0;
  border-radius: 2px;
}

.punchcard-day-full {
  background-color: #9be9a8;
}

.today {
  border-color: rosybrown;
  border-style: solid;
  border-width: 1px;
  margin: -1px;
}